In [41]:
"""
PAN 15 TWEET XML TO CSV
"""

import os
import pandas as pd
import xmltodict

dir_path = "/Users/alexlain/github/author-profiling-project/data/pan-15/train"

df_master = pd.DataFrame()

for file in os.listdir(dir_path):
    if file.endswith(".xml"):
        with open(dir_path + "/" + file, 'r') as f:
            xml = f.read()
    
        xml_dict = xmltodict.parse(xml)
        xml_dict

        df = pd.json_normalize(xml_dict,
                       record_path=['author', 'document'],
                       meta=[['author', '@id']])

        df_training = pd.concat([df_training, df])

df_training.rename(columns={0: 'text', 'author.@id': 'author'}, inplace=True)
df_training

,text,author
0,Getting up at 5! a rare case for me. and that ...,17591594-b75c-47c2-be3e-5dcbe6c45286
1,amar chokhe thont gaale tumi lege achho\namar ...,17591594-b75c-47c2-be3e-5dcbe6c45286
2,@username Main hoon naa. don. veer zaara. heyy...,17591594-b75c-47c2-be3e-5dcbe6c45286
3,listening to the one song repeatedly for almos...,17591594-b75c-47c2-be3e-5dcbe6c45286
4,enjoyed the journey back from home. thanks to ...,17591594-b75c-47c2-be3e-5dcbe6c45286
...,...,...
95,@username You're welcome!,9411c815-9eb6-466e-b3e2-1e739510c94b
96,"#LeicaSixx sez: ""Happy Bark Day"" (ehh! Birthda...",9411c815-9eb6-466e-b3e2-1e739510c94b
97,"Happy Birthday, @username !!! Cover of a book ...",9411c815-9eb6-466e-b3e2-1e739510c94b
98,@username @username I'm wearing this shirt (ri...,9411c815-9eb6-466e-b3e2-1e739510c94b
99,Happy Birthday @username #HBDNikki ????#rockon...,9411c815-9eb6-466e-b3e2-1e739510c94b

In [40]:
df_training.to_csv(dir_path + "/" + "pan-15-train.csv")

In [43]:
"""
PAN 15 TRUTH TXT TO CSV
"""

#userid:::gender:::age_group:::extroverted:::stable:::agreeable:::conscientious:::open

file_path = "/Users/alexlain/github/author-profiling-project/data/pan-15/train/truth.txt"

df_truth = pd.read_csv(file_path, sep=":::", header=None, engine='python')
df_truth.columns = ["author", "gender", "age-group", "extroverted", "stable", "agreeable", "conscientious", "open"]

df_truth

,author,gender,age-group,extroverted,stable,agreeable,conscientious,open
0,3e2cdc34-bffe-4ba7-8bd5-fc07ad904dc1,M,25-34,0.3,0.5,0.1,0.2,0.2
1,b38fee80-2fb1-4481-be25-e8297aae928d,M,25-34,0.2,0.4,0.2,0.0,0.2
2,60468a75-1938-4366-abaa-5ad1cc1b0b8e,M,18-24,0.1,0.2,0.1,0.1,0.1
3,e78b60f0-b114-4238-a0b2-dbd52ab12b99,F,18-24,0.1,0.1,-0.1,0.5,0.1
4,f1dcc4ff-0c7c-4fee-9a65-04a13285f327,F,18-24,0.0,-0.1,0.1,0.3,0.4
...,...,...,...,...,...,...,...,...
147,03f72f70-7a00-4dbb-93b7-6c7f65954fc5,M,25-34,0.2,0.2,0.1,0.1,0.5
148,1cd73ab3-e945-4334-ac09-7a1bf62559ab,F,18-24,0.5,0.3,0.0,0.1,0.3
149,6919c68c-ce0f-47b7-a5f7-9e55eef6a557,F,25-34,0.4,-0.3,0.0,0.1,0.3
150,e11d4b1e-42e6-44a6-b067-e0873e566fe3,M,25-34,0.3,0.5,0.1,0.2,0.2
151,c4a413a1-1170-4c2c-9f97-3f0bfb474154,F,25-34,0.5,0.2,0.5,0.2,0.1

In [45]:
df_truth.to_csv(file_path[:-4] + ".csv")